.app {
    position: relative;
    overflow-x: hidden;
    padding: 0 16px;
}

.app:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: -64px;
    right: -64px;
    height: 100%;
    background: url(../images/carbon.svg) center top var(--background-dark-carbon-color);
    background-size: 20px;
    box-shadow: inset 0 2px 16px var(--shadow-color);
}

.app .form {
    margin: 16px 0;
    padding: 8px;
    border-radius: 12px;
    background: var(--background-form-color);
}

.app .titleBar {
    padding-bottom: 4px;
    line-height: 28px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.app .titleBar:after {
    content: "";
    display: table;
    clear: both;
}

.app .title {
    margin-right: 8px;
    font-size: 24px;
    font-weight: normal;
    color: var(--text-secondary-color);
    float: left;
}

.app .title:after {
    content: "";
    display: table;
    clear: both;
}

.app .columnLayout {
    padding-bottom: 8px;
}

.falseTextareaBox {
    width: 100%;
    height: var(--text-area-height);
    border-radius: 5px;
    background: var(--input-color);
    overflow: hidden;
    position: relative;
}

.app .falseTextarea {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    contain: strict;
}

.app .scrollingBox {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.app .relativeHeightBox {
    position: relative;
    min-height: 100%;
}

.app .textPadding {
    padding: 8px;
}

.app .text {
    font: 24px monospace;
    line-height: 28px;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
}

.app .text .word {
    border-radius: 2px;
    background: var(--highlight-color);
    box-shadow: 0 0 0 2px var(--highlight-color);
    color: transparent;
    word-wrap: break-word;

    opacity: 0;
    transition: opacity 0.3s;
}

.app .text .word.active {
    opacity: 1;
}

.app .textarea {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    resize: none;
    overflow: hidden;
}

.app .pronunciationBox {
    margin-top: 8px;
    padding: 8px 8px 0 8px;
    border-radius: 5px;
    display: none;
    background: var(--background-pronunciation-color);
}

.app .pronunciationBox.active {
    display: block;
}

.app .pronunciationFalseTextarea {
    border: 0;
    border-radius: 2px;
}

@media (min-width: 800px) {
    .app .form {
        padding: 16px;
    }

    .app .columnLayout {
        padding-bottom: 16px;
    }

    .app .pronunciationBox {
        padding: 16px 16px 0 16px;
    }
}

@media (min-width: 1148px) {
    .app {
        padding: 0 32px;
    }

    .app .form {
        margin: 32px auto;
        max-width: 1400px;
    }

    .app .columns {
        display: flex;
    }

    .app .column {
        flex: 1;
    }

    .app .column:first-child .columnLayout {
        padding-right: 8px;
    }

    .app .column:last-child .columnLayout {
        padding-left: 8px;
    }
}
