html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background: url(../images/white.svg) var(--background-light-carbon-color);
    background-size: 4px;
    color: var(--text-default-color);
}

.body {
    margin: 0 auto;
    padding: 8px;
    max-width: var(--max-body-width);
    font-size: 22px;
    line-height: 1.4;
}

.body .heading {
    color: var(--text-secondary-color);
    text-shadow: 0 1px 0 var(--text-contrast-shadow-color);
    font-weight: normal;
}

.body h1 {
    text-align: center;
    font-size: 32px;
}

.body h2 {
    padding-bottom: 4px;
    font-size: 32px;
}

.body h3 {
    padding-bottom: 4px;
    font-size: 28px;
}

.body h4 {
    padding-bottom: 2px;
    font-size: 24px;
}

.body p {
    padding-bottom: 32px;
}

.body a {
    margin-bottom: 0;
    padding: 0 2px 1px 2px;
    border-bottom: 1px solid var(--vibrant-color);
    text-decoration: none;
    color: var(--vibrant-color);

    transition: color 0.3s, border-color 0.3s, padding-bottom 0.3s, margin-bottom 0.3s;
}

    .body a:hover {
        border-color: var(--vibrant-darker-color);
        color: var(--vibrant-darker-color);
    }

    .body a:active {
        margin-bottom: 1px;
        padding-bottom: 0;
    }

    .body a:focus {
        border-style: dashed;
    }

@media (min-width: 800px) {
    .body {
        padding: 16px;
    }

    .body h1 {
        font-size: 48px;
    }
}
