.focusable {
    border: 1px solid var(--focus-border-color);
    box-shadow: 0 0 0 0 var(--vibrant-color);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.focusable:focus, .focusable.focus {
    border-color: var(--vibrant-darkest-color);
    box-shadow: 0 0 0 2px var(--vibrant-color);
}

.focusable.active {
    border-color: var(--vibrant-darkest-color);
}